.profile{
width:300px;
text-align: center;
padding:1rem;
background-color:aliceblue;
 box-shadow: 10px 17px 5px 0px rgba(0,120,128,0.75);
-webkit-box-shadow: 10px 17px 5px 0px rgba(0,120,128,0.75);
-moz-box-shadow: 10px 17px 5px 0px rgba(0,120,128,0.75);
border-radius: 30px;
margin-bottom:50px;
}

.photo{
  width:200px;
  height:200px;
  border-radius: 100%;
}
.avatar{
  position:relative;
}
.new{
  background-color: aquamarine;
  padding:10px;
  position:absolute;
  top:40px;
  right:50px;
  border-radius: 10px;
  font-weight: 800;
}

.counter{
  text-align: center;
  margin:50px;
  border-radius: 10px;
  border:1px solid palevioletred;


}

.number{
  font-size: 100px;
}

.counter-btn{
  margin-bottom:20px;
  background-color: plum;
  border: 1px solid purple;
  padding:10px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.banner{
  background-color: hotpink;
  text-align: center;
  font-size: 30px;
  padding:20px 0;
  color:white;
}