.profile{
width:300px;
text-align: center;
padding:1rem;
background-color:aliceblue;
 box-shadow: 10px 17px 5px 0px rgba(0,120,128,0.75);
-webkit-box-shadow: 10px 17px 5px 0px rgba(0,120,128,0.75);
-moz-box-shadow: 10px 17px 5px 0px rgba(0,120,128,0.75);
border-radius: 30px;
margin-bottom:50px;
position:relative;
}

.photo{
  width:200px;
  height:200px;
  border-radius: 100%;
}
.new{
  background-color: aquamarine;
  padding:10px;
  position:absolute;
  top:40px;
  right:50px;
  border-radius: 10px;
  font-weight: 800;
}